<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>420720673994-dsl48aqkeadaok2j81n1n1gmfh9eriqv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.420720673994-dsl48aqkeadaok2j81n1n1gmfh9eriqv</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>420720673994-7qdhl0f46s9ko5vkc92097i25jri6i2j.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDLYUPL7UEZg2AlOcxnefExPo1ki2281uA</string>
	<key>GCM_SENDER_ID</key>
	<string>420720673994</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.finiq</string>
	<key>PROJECT_ID</key>
	<string>finiq-f2119</string>
	<key>STORAGE_BUCKET</key>
	<string>finiq-f2119.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:420720673994:ios:84a5da3fe292006c53a033</string>
	<key>DATABASE_URL</key>
	<string>https://finiq-f2119.firebaseio.com</string>
</dict>
</plist>